#logo{
    width:100px;
    height:100px;
}

#formConnexion{
    margin-top:30px;
}
h1{
}
h2{
	text-align:center;
	width:100%;
	height:100%;
}

a{
	text-decoration: none;
	width:100%;
	height:100%;
}

a:hover{
	color:#00FF00;
}

nav,ul{
    
    list-style-type: none;
    display: flex;
    flex: auto;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

li{
    width: 100%;
    height: 100%;
    justify-content: center;
	
}

li:hover{
    background-color: #3a3b3c;
}


hr{
    color: #3a3b3c;
}
